
<section>
  <div class="container-fluid">

    <div class="row" *ngIf="isAddEdit">

      <div class="col-3"></div>
      <div class="col-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form.valid)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="title">Name<sup>*</sup>:</label>
            <input type="text" class="form-control requried" name="name" [(ngModel)]="leavetype.leavename" required #name="ngModel" placeholder="Enter Name" id="name">
            <div *ngIf="f.submitted && name.invalid" class="alert-danger">
              <div *ngIf="name.errors.required">name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="title">Count<sup>*</sup>:</label>
            <input type="text" class="form-control requried" name="leavecount" [(ngModel)]="leavetype.leavecount" required #leavecount="ngModel" placeholder="Enter count" id="leavecount">
            <div *ngIf="f.submitted && leavecount.invalid" class="alert-danger">
              <div *ngIf="leavecount.errors.required">count is required</div>
            </div>
          </div>

          <button type="submit" class="btn-sm btn-primary">Submit</button>
          <button type="button" class="btn-sm btn-danger" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
    <div *ngIf="!isAddEdit">
      <div class="row">
        <div class="col-12 page-title">
          <h3 class="title-top">Roles</h3>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn-sm btn-primary" (click)="addNew()">+ Add</button>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 sm-table employee">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="select">
                    <input id="selectAll" type="checkbox">
                    <label for="selectAll">Select</label>
                  </th>
                  <th class="img">Name</th>
                  <th class="img">Count</th>
                  <th class="more">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rec of leaveTypes">
                  <td class="select">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">Select</label>
                  </td>
                  <td>{{rec.leavename}}</td>
                  <td>{{rec.leavecount}}</td>
                  <td class="more">
                    <a class="action-btn fa fa-eye view" href="javascript:void(0)" (click)="edit(rec)">Edit</a>
                    <!--<a class="action-btn fa fa-trash delete" (click)="delete(rec.id , rec)">Remove</a>-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
