<!--<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 page-title">
        <button class="btn sm-primary" (click)="SignIn()">Punch In</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 page-title">
        
        <button class="btn sm-primary">Punch Out</button>
      </div>
    </div>
  </div>
</section>-->
<section><div class="form-group">
           <form (ngSubmit)="onSubmit(f)" #f="ngForm">
             <label for="hireDate">Start Date:</label>
             <div class="form-group form-inline">
               <div class="input-group">
                 <input class="form-control" name="startDate" type="date" id="hireDate" placeholder="yyyy-mm-dd">
               </div>
             </div>


             <label for="hireDate">End Date:</label>
             <div class="form-group form-inline">
               <div class="input-group">
                 <input class="form-control" name="endDate" type="date" id="hireDate" placeholder="yyyy-mm-dd">
               </div>
             </div>
             <button type="submit" class="btn btn-primary">Find</button>
           </form>
  
</div></section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 page-title">
        <h3 class="title-top">Employee</h3>
        <button class="btn sm-primary">Add New</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 sm-table employee">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="select">
                  <input id="selectAll" type="checkbox">
                  <label for="selectAll">Select</label>
                </th>


                <th class="img">Img</th>

                <th *ngFor="let item of displayColumn">{{item}}</th>

                <th class="more">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendance of userAttendance">
                <td class="select">
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1">Select</label>
                </td>
                <td data-target="img" class="img"><img src="images/user.png" alt=""></td>

                <td *ngFor="let i of displayColumn">{{attendance[i] || '-'}}</td>

                <td class="more">
                  <a class="action-btn fa fa-eye view" href="javascript:void(0)">View</a>
                  <a class="action-btn fa fa-trash delete" (click)="delete(user.id , user)">Remove</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
