<!--Punch in out Yimer-->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 page-title">
        <h3 class="title-top">Attendance Tracking</h3>
        <!--<button class="btn sm-primary">Add New</button>-->
      </div>
    </div>
    <div class="row" *ngIf="userRole!='Admin'">

      <div class="col-2">
        <button class="btn btn-primary" (click)="Punch_In()" [disabled]="disable_SignIn">Clock In</button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="Punch_out()" [disabled]="disable_SignOut">Clock Out</button>
      </div>
      <div class="col-8">
        <div class="col-3"><h6> Time Tracking:</h6></div>
        <div class="col-5" style="color:darkgoldenrod;">
          <div [class]="timerConfig?.timerClass ? timerConfig.timerClass : ''">
            <span>{{timerObj.hours}}</span><span class="time-category">{{timerTextConfig && timerTextConfig.hourText ? timerTextConfig.hourText : 'hh'}} </span>
            <span>{{timerObj.mins}}</span><span class="time-category">{{timerTextConfig && timerTextConfig.minuteText ? timerTextConfig.minuteText : 'mm'}}  </span>
            <span>{{timerObj.seconds}}</span><span class="time-category">{{timerTextConfig && timerTextConfig.secondsText ? timerTextConfig.secondsText : 'ss'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!--DropDowns-->

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <select class="form-control" name="month" [(ngModel)]="SelectedMonth">
          <option selected="selected" value="">Select Month</option>
          <option *ngFor="let p of months" [selected]="mm === p.val" [value]="p.val">{{p.name}}</option>
        </select>
      </div>
      <div class="col-2">
        <select class="form-control" name="year">
          <option *ngFor="let y of years" [selected]="yy === y">{{y}}</option>
        </select>
      </div>
      <div class="col-3" *ngIf="userRole==='Admin' || userRole==='HR Manager' || userRole==='Project Manager'">
        <select class="form-control" name="dept" [(ngModel)]="Selecteddepartment">
          <option selected="selected" value="">Select Department</option>
          <option [value]="dept.id" *ngFor="let dept of departments">{{dept.name}}</option>
        </select>
      </div>
      <div class="col-3" *ngIf="userRole==='Admin' || userRole==='HR Manager' || userRole==='Project Manager'">
        <select class="form-control" name="user" [(ngModel)]="Selecteduser">
          <option selected="selected" value="">Select User</option>
          <option [value]="user.normalizedEmail" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="selectedFilter()">Search</button>
      </div>

    </div>
  </div>
</section>


<!--EmployeeList-->
<section *ngIf="userRole!='Admin'">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 sm-table employee">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Sign In</th>
                <th>Sign Out</th>
                <th>TotalTime</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendance of userAttendance | slice:sliceStart:sliceEnd; let i = index;">

                <td>{{attendance.firstName  || '-'}} {{attendance.lastName  || '-'}}</td>
                <td>{{attendance.signIn | date:'HH:mm:ss'}}</td>
                <td>{{attendance.signOut | date:'HH:mm:ss'}}</td>
                <td>{{attendance.totalTime || '-'}}</td>
                <td>{{attendance.createdOn | date: 'dd-MM-yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!--<div class="col-4 sm-table employee">
        <div>
         test
        </div>
      </div>-->
    </div>
    <div class="row" *ngIf="totalRecord > pageSize">
      <div class="col-2"></div>
      <div class="col-6">
        <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5"
                        [pageSize]="pageSize" [totalRecord]="totalRecord" [pageNumber]="pageNumber"></app-pagination>

      </div>
      <div class="col-1">
        Record


      </div>
      <div class="col-1">
        <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
          <option value=5>5</option>
          <option value=10>10</option>
          <option value=25>25</option>
          <option value=50>50</option>
          <option value=100>100</option>
        </select>
      </div>
      <div class="col-2">
        Per Page
      </div>
    </div>
  </div>
</section>


<tabs *ngIf="userRole !='Developer'">
  <tab tabTitle="Employees Attendance">


    <!--EmployeeList-->
    <section>
      <div class="container-fluid">
        <div class="row">

          <div class="col-12 sm-table employee">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Sign In</th>
                    <th>Sign Out</th>
                    <th>TotalTime</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attendance of AllEmployeeAttendance | slice:sliceStart:sliceEnd; let i = index;">

                    <td>{{attendance.firstName  || '-'}} {{attendance.lastName  || '-'}}</td>
                    <td>{{attendance.signIn | date:'HH:mm:ss'}}</td>
                    <td>{{attendance.signOut | date:'HH:mm:ss'}}</td>
                    <td>{{attendance.totalTime || '-'}}</td>
                    <td>{{attendance.createdOn | date: 'dd-MM-yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <!--<div class="col-4 sm-table employee">
          <div>
           test
          </div>
        </div>-->
        </div>
        <div class="row" *ngIf="totalRecord > pageSize">
          <div class="col-2"></div>
          <div class="col-6">
            <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5"
                            [pageSize]="pageSize" [totalRecord]="totalRecord" [pageNumber]="pageNumber"></app-pagination>

          </div>
          <div class="col-1">
            Record


          </div>
          <div class="col-1">
            <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
              <option value=5>5</option>
              <option value=10>10</option>
              <option value=25>25</option>
              <option value=50>50</option>
              <option value=100>100</option>
            </select>
          </div>
          <div class="col-2">
            Per Page
          </div>
        </div>
      </div>
    </section>
  </tab>
  <tab tabTitle="Today's Punch In"   *ngIf="userRole ==='Project Manager' || userRole ==='HR Manager' || userRole ==='Admin'">


    <!--Today Punch In recods-->
    <section >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 page-title">
            <h3 class="title-top">Today's Attendance</h3>
            <!--<button class="btn sm-primary">Add New</button>-->
          </div>
          <div class="col-12 sm-table employee">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Sign In</th>
                    <th>Sign Out</th>
                    <th>TotalTime</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attendance of todayPuchInRecods | slice:sliceStart:sliceEnd; let i = index;">

                    <td>{{attendance.firstName  || '-'}} {{attendance.lastName  || '-'}}</td>
                    <td>{{attendance.signIn | date:'HH:mm:ss'}}</td>
                    <td>{{attendance.signOut | date:'HH:mm:ss'}}</td>
                    <td>{{attendance.totalTime || '-'}}</td>
                    <td>{{attendance.createdOn | date: 'dd-MM-yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <!--<div class="col-4 sm-table employee">
            <div>
             test
            </div>
          </div>-->
        </div>
        <div class="row" *ngIf="totalRecord > pageSize">
          <div class="col-2"></div>
          <div class="col-6">
            <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5"
                            [pageSize]="pageSize" [totalRecord]="totalRecord" [pageNumber]="pageNumber"></app-pagination>

          </div>
          <div class="col-1">
            Record


          </div>
          <div class="col-1">
            <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
              <option value=5>5</option>
              <option value=10>10</option>
              <option value=25>25</option>
              <option value=50>50</option>
              <option value=100>100</option>
            </select>
          </div>
          <div class="col-2">
            Per Page
          </div>
        </div>
      </div>
    </section>
  </tab>
  <tab tabTitle="Employee Leave Status" *ngIf="userRole ==='Project Manager' || userRole ==='HR Manager' || userRole ==='Admin'">
    <!--Absent present-->

    <section *ngIf="allemployee">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 page-title">
            <h3 class="title-top">Employees Leaves Status (Month)</h3>
            <!--<button class="btn sm-primary">Add New</button>-->
          </div>
          <div class="col-12 sm-table employee">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Present Days</th>
                    <th>Absent Days</th>
                    <th>Working Days</th>
                    <th>Department Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attendance of employeeAttendanceTrack">

                    <td (click)="employeeDetails(attendance.userId)"><a style="cursor:pointer;"> {{attendance.firstName  || '-'}} {{attendance.lastName  || '-'}}</a></td>
                    <td>{{attendance.presentDays || '-'}}</td>
                    <td>{{attendance.absentDays || '-'}}</td>
                    <td>{{attendance.workingDays || '-'}}</td>

                    <td>{{attendance.departmentName || '-'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--<div class="col-4 sm-table employee">
            <div>
             test
            </div>
          </div>-->
        </div>
      </div>
    </section>

    <section *ngIf="details">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 page-title">
            <h3 class="title-top">Present Days</h3>
            <!--<button class="btn sm-primary">Add New</button>-->
          </div>
          <div class="col-12 sm-table employee">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Present Days</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attendance of userAttendance">

                    <td> {{attendance.firstName  || '-'}} {{attendance.lastName  || '-'}}</td>
                    <td>{{attendance.signIn |date: 'dd-MM-yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--<div class="col-4 sm-table employee">
            <div>
             test
            </div>
          </div>-->
          <a (click)="back()" class="btn btn-primary">Back</a>
        </div>
      </div>
    </section>
  </tab>
  <tabs>














