
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 page-title">
        <h3 class="title-top">Employee</h3>
        <button [routerLink]="['/users/add']" class="btn sm-primary" >Add New</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 sm-table employee">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="select">
                  <input id="selectAll" type="checkbox">
                  <label for="selectAll">Select</label>
                </th>


                <th class="img">Img</th>

                <th  *ngFor="let item of displayColumn" >{{item}}</th>

                <th class="more">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="select">
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1">Select</label>
                </td>
                <td data-target="img" class="img"><img src="images/user.png" alt=""></td>

                <td *ngFor="let i of displayColumn">{{user[i] || '-'}}</td>

                <td class="more">
                  <a class="action-btn fa fa-eye view"  href="javascript:void(0);" [routerLink]="['/user/update']" [queryParams]="{id:user.id}">Edit</a>
                  <a class="action-btn fa fa-trash delete" (click)="delete(user.id , user)">Remove</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
