
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 page-title">
        <h3 class="title-top">Employee</h3>
        <a [routerLink]="['/user/add']" class="btn btn-primary" *ngIf="roleName!=enum.TL">Add New</a>


      </div>


    </div>
    <div style="height:10px;"></div>

    <div class="row">
      <div class="col-4">
        Employee Information (Format):<a class="btn btn-primary" target="_blank" href="/assets/file/Employee.xlsx">Download</a>
      </div>
      <div class="col-2">

      </div>

      <div class="col-6">
        <label>Upload Excel:<input type="file" id="input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" value="Upload" /></label>
      </div>

    </div>
    <div style="height:10px;"></div>
    <div class="row">

      <div class="col-4" *ngIf="deptShow">
        <select class="form-control" name="dept" [(ngModel)]="selectedDepartment" >
          <option selected="selected" value="">Select Department</option>
          <option [value]="dept.id" *ngFor="let dept of departments">{{dept.name}}</option>
        </select>
      </div>
      <div class="col-4">
        <select class="form-control" name="user" [(ngModel)]="selectedUser">
          <option selected="selected" value="">Select User</option>
          <option [value]="user.email" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="selectedFilter()">Search</button>
      </div>

    </div>
    <div style="height:10px;"></div>

    <div class="row">
      <div class="col-12 sm-table employee">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="select">
                  <input id="selectAll" type="checkbox">
                  <label for="selectAll">Select</label>
                </th>


                <th class="img">Img</th>

                <th *ngFor="let item of displayColumn">{{item}}</th>
                <th *ngIf="roleName!=enum.TL">Promotion</th>
                <th class="more" *ngIf="roleName!=enum.TL">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | slice:sliceStart:sliceEnd; let i = index;">
                <td class="select">
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1">Select</label>
                </td>
                <td data-target="img" class="img"><img src="{{formatImage(user.imageData)}}" alt=""></td>

                <td *ngFor="let i of displayColumn">{{(i=='dateOfBirth' || i=='dateOfJoin')?formatDate(user[i]):user[i] || '-'}}</td>

                <td *ngIf="roleName!=enum.TL"> <a href="javascript:void(0);" (click)="promote(user.userId,user.roleId,user.departmentId)">Promote</a></td>
                <td class="more" *ngIf="roleName!=enum.TL">
                  <a class="action-btn fa fa-eye view" href="javascript:void(0);" [routerLink]="['/user/update']" [queryParams]="{id:user.userId}">Edit</a>
                  <a class="action-btn fa fa-trash delete" (click)="delete(user.userId , user)">Remove</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row" *ngIf="totalRecord > pageSize">
          <div class="col-2"></div>
          <div class="col-6">
            <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5"
                            [pageSize]="pageSize" [totalRecord]="totalRecord" [pageNumber]="pageNumber"></app-pagination>

          </div>
          <div class="col-1">
            Record


          </div>
          <div class="col-1">
            <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
              <option value=5>5</option>
              <option value=10>10</option>
              <option value=25>25</option>
              <option value=50>50</option>
              <option value=100>100</option>
            </select>
          </div>
          <div class="col-2">
            Per Page
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
