<style>


  .entery-main {
    background-image: url('assets/images/log-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  

</style>
  <section class="d-flex align-items-center entery-main">
    <div class="login-outer d-flex">
      <div class="img-only">
        <img src="assets/images/login-left.png" alt="">
      </div>
      <div class="entery login d-flex justify-content-center flex-column">
        <img src="assets/images/brand.png" alt="">

        <h2 class="login-header">Reset Password</h2>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form.valid)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="" class="form-label">Password<sup>*</sup></label>
            <input type="password" class="form-control requried" placeholder="Enter Password" name="newpwd" [(ngModel)]="pwd.Password" required #newpwd="ngModel">
            <div *ngIf="f.submitted && newpwd.invalid" class="alert-danger">
              <div *ngIf="newpwd.errors.required"> Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="form-label">Confirm Password<sup>*</sup></label>
            <input type="password" class="form-control requried" placeholder="Enter Confirm Password" name="confirmpwd" passwordvalidate password="pwd.Password" [(ngModel)]="pwd.ConfirmPassword" required #confirmpwd="ngModel">
            <div *ngIf="f.submitted && confirmpwd.invalid" class="alert-danger">
              <div *ngIf="confirmpwd.errors.required">Confirm Password is required</div>
              <!--<div *ngIf="confirmpwd.errors.passwordvalidate">
      {{confirmpwd.errors.passwordvalidate.value}}
    </div>-->
            </div>
            <div *ngIf="invalidpwd" class="alert-danger">
              Password MisMatch
            </div>

          </div>
          <input type="submit" class="button" value="Submit">
        </form>
      </div>
    </div>
  </section>

  
  <!--<img src="C:\Users\Gaurav\source\repos\SMLMS\SMLMS.Web\ClientApp\src\assets\image\brand.png" />-->

