<section>
  <div class="container-fluid">

    <div>
      <div class="row">
        <div class="col-12 page-title">
          <h3 class="title-top">Employee</h3>
          <!--<button class="btn sm-primary">Add New</button>-->
        </div>
      </div>
      <div class="row">

        <div class="col-3"></div>
        <div class="col-6">

          <form (ngSubmit)="f.form.valid && onSubmit(f.form.valid)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="text">First Name:</label>
              <input type="text" class="form-control requried" placeholder="Enter First Name" name="fname" [(ngModel)]="user.firstName" required #fname="ngModel">
              <div *ngIf="f.submitted && fname.invalid" class="alert-danger">
                <div *ngIf="fname.errors.required">FirstName is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Last Name:</label>
              <input type="text" class="form-control requried" placeholder="Enter LastName" name="lname" [(ngModel)]="user.lastName" required #lname="ngModel">
              <div *ngIf="f.submitted && lname.invalid" class="alert-danger">
                <div *ngIf="lname.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Email:</label>
              <input type="text" class="form-control requried" placeholder="Enter EmailId" name="email" [(ngModel)]="user.email" required #email="ngModel">
              <div *ngIf="f.submitted && email.invalid" class="alert-danger">
                <div *ngIf="email.errors.required">Email is required</div>
              </div>
            </div>
            <!--<div class="form-group" *ngIf="isAdd">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control requried" placeholder="Enter Password" name="newpwd" [(ngModel)]="user.password" required #newpwd="ngModel">
    <div *ngIf="f.submitted && newpwd.invalid" class="alert-danger">
      <div *ngIf="newpwd.errors.required">Password is required</div>
    </div>
  </div>-->

            <div class="form-group" *ngIf="isAdd">
              <label for="select">Role:</label>
              <select class="form-control" placeholder="Select Role" name="rolename" required [(ngModel)]="user.roleName" #rolename="ngModel">
                <option selected="" value="">Select Role</option>
                <option [value]="role.name" *ngFor="let role of roles">{{role.name}}</option>
              </select>
              <div *ngIf="f.submitted && rolename.invalid" class="alert-danger">
                <div *ngIf="rolename.errors.required">Role is required</div>
              </div>
            </div>

            <div class="form-group" *ngIf="isAdd">
              <label for="select">Department:</label>
              <select class="form-control" placeholder="Select Role" name="dept" required [(ngModel)]="user.departmentId" #dept="ngModel">
                <option selected="" value="">Select Department</option>
                <option [value]="dept.id" *ngFor="let dept of departments">{{dept.name}}</option>
              </select>
              <div *ngIf="f.submitted && dept.invalid" class="alert-danger">
                <div *ngIf="dept.errors.required">Department is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Date Of Birth:</label>
              <input type="date" class="form-control requried" placeholder="yyyy-MM-dd" name="dob" [(ngModel)]="user.dateOfBirth" required #dob="ngModel">
              <div *ngIf="f.submitted && dob.invalid" class="alert-danger">
                <div *ngIf="dob.errors.required">Date Of Birth is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Date Of Joining:</label>
              <input type="date" class="form-control requried" placeholder="yyyy-MM-dd" name="doj" [(ngModel)]="user.dateOfJoin" required #doj="ngModel">
              <div *ngIf="f.submitted && doj.invalid" class="alert-danger">
                <div *ngIf="doj.errors.required">Date Of Joining is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Date Of Appointment:</label>
              <input type="date" class="form-control requried" placeholder="yyyy-MM-dd" name="doa" [(ngModel)]="user.dateOfAppointment" #doa="ngModel">
              <!--<div *ngIf="f.submitted && doa.invalid" class="alert-danger">
      <div *ngIf="doa.errors.required">Date Of Appointment is required</div>
    </div>-->
            </div>
            <div class="form-group">
              <label for="text">Date Of Leaving:</label>
              <input type="date" class="form-control requried" placeholder="yyyy-MM-dd" name="dol" [(ngModel)]="user.dateOfLeave" #dol="ngModel">
              <!--<div *ngIf="f.submitted && dol.invalid" class="alert-danger">
      <div *ngIf="dol.errors.required">Date Of Leaving is required</div>
    </div>-->
            </div>
            <div class="form-group">
              <label for="text">Phone Number:</label>
              <input type="text" class="form-control requried" placeholder="Enter Phone Number" name="phone" [(ngModel)]="user.phoneNumber" required #phone="ngModel">
              <div *ngIf="f.submitted && phone.invalid" class="alert-danger">
                <div *ngIf="phone.errors.required">Phone Number is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="text">Address:</label>
              <input type="text" class="form-control requried" placeholder="Enter Address" name="address" [(ngModel)]="user.address" required #address="ngModel">
              <div *ngIf="f.submitted && address.invalid" class="alert-danger">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
            <button type="button" class="btn btn-primary" (click)="back()">Back</button>
          </form>


        </div>
      </div>
    </div>
  </div>

</section>








