
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 page-title">
        <h3 class="title-top">Role Task Permission</h3>
       
      </div>
          
    </div>
    <div class="row">
      <div class="col-4">
        Permission Access (Format): <a class="btn btn-primary" target="_blank" href="/assets/file/Task-Role-Permission.xlsx">Download</a>
      </div>
      <div class="col-2">
       
      </div>
   
      <div class="col-6">
        <label>Upload Excel:<input type="file" id="input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" value="Upload" /></label>
      </div>
   
    </div>
    <div class="row">
      <div class="col-12 sm-table employee">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
  
                <th *ngFor="let item of roleList">{{item}}</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of rolesPermissionList;">
                
                <td *ngFor="let i of roleList;">{{role[i]}}</td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
