<section>
    <div class="container-fluid">

        <div >
            <div class="row">
                <div class="col-12 page-title">
                    <h3 class="title-top">Change Password</h3>
                    <!--<button class="btn sm-primary">Add New</button>-->
                </div>
            </div>
            <div class="row">

                <div class="col-3"></div>
                <div class="col-6">

                    <form (ngSubmit)="f.form.valid && onSubmit(f.form.valid)" #f="ngForm" novalidate>
                        <div class="form-group">
                            <label for="text">Old Password:</label>
                            <input type="text" class="form-control requried" placeholder="Enter Old Password" name="oldpwd" [(ngModel)]="pwd.OldPassword" required #oldpwd="ngModel">
                            <div *ngIf="f.submitted && oldpwd.invalid" class="alert-danger">
                                <div *ngIf="oldpwd.errors.required">Old Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">New Password:</label>
                            <input type="password" class="form-control requried" placeholder="Enter New Password" name="newpwd" [(ngModel)]="pwd.NewPassword" required #newpwd="ngModel">
                            <div *ngIf="f.submitted && newpwd.invalid" class="alert-danger">
                                <div *ngIf="newpwd.errors.required">New Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Confirm Password:</label>
                            <input type="password" class="form-control requried" placeholder="Enter Confirm Password" name="confirmpwd" [(ngModel)]="pwd.ConfirmPassword" required #confirmpwd="ngModel">
                            <div *ngIf="f.submitted && confirmpwd.invalid" class="alert-danger">

                                <div *ngIf="confirmpwd.errors.required">Confirm Password is required</div>
                                <!--<div *ngIf="confirmpwd.errors.passwordvalidate">
                  {{confirmpwd.errors.passwordvalidate.value}}
                </div>-->
                            </div>
                            <div *ngIf="invalidpwd" class="alert-danger">
                                Password MisMatch
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    
                </div>
            </div>
        </div>       
    </div>

</section>



