<section>
  <div class="container-fluid">

    <div>
      <div class="row">
        <div class="col-12 page-title">
          <h3 class="title-top">Account Information</h3>
          <!--<button class="btn sm-primary">Add New</button>-->
        </div>
      </div>
      <div class="row">

        <div class="col-3"></div>
        <div class="col-6">



          <div><img src="{{image}}" id="profileImage" height="100" width="100" alt="profile Image" class="img-responsive" /></div>
          <div>
            <input type="file" id="file" name="file" accept="image/*" #fileInput (change)="previewImage($event)">
            <button class="btn btn-primary" (click)="uploadImage()">Upload</button>
          </div>
          <div>

          </div>
          <div class="form-group">
            <label for="text">First Name:</label><br />
            <label for="text">{{user.firstName}}</label>
          </div>
          <div class="form-group">
            <label for="text">Last Name:</label><br />
            <label for="text">{{user.lastName}}</label>
          </div>
          <div class="form-group">
            <label for="text">Email:</label><br />
            <label for="text">{{user.email}}</label>
          </div>


          <div class="form-group">
            <label for="text">Role:</label><br />
            <label for="text">{{roleName}}</label>

          </div>

          <div class="form-group">
            <label for="text">Department:</label><br />
            <label for="text">{{department}}</label>

          </div>
          <div class="form-group">
            <label for="text">Date Of Birth:</label><br />
            <label for="text">{{user.dateOfBirth}}</label>
          </div>
          <div class="form-group">
            <label for="text">Date Of Joining:</label><br />
            <label for="text">{{user.dateOfJoin}}</label>

          </div>
          <!--<div class="form-group">
    <label for="text">Date Of Appointment:</label>
    <label for="text">{{user.dateOfAppointment}}</label>
  </div>-->

          <div class="form-group">
            <label for="text">Phone Number:</label><br />
            <label for="text">{{user.phoneNumber}}</label>

          </div>
          <div class="form-group">
            <label for="text">Address:</label><br />
            <label for="text">{{user.address}}</label>

          </div>






        </div>
      </div>
    </div>
  </div>

</section>











