<div class="page-sidebar fixedscroll">

  <!-- MAIN MENU - START -->
  <div class="page-sidebar-wrapper" id="main-menu-wrapper">

    <!-- USER INFO - START -->
    <div class="profile-info row">

      <div class="profile-image col-4">
        <a href="edit-profile.html">
          <!-- <img alt="" src="{{sharedService.user.Photo_URL}}" onError="this.src='assets/images/profile.jpg'" class="img-fluid rounded-circle"> -->
        </a>
      </div>

      <div class="profile-details col-8">

        <h3>
          <a href="javascript:void(0)">{{sharedService.user  ? sharedService.user.Name :'Shane Taylor'   }}</a>

          <!-- Available statuses: online, idle, busy, away and offline -->
          <span class="profile-status online"></span>
        </h3>

        <p class="profile-title">Admin</p>

      </div>

    </div>
    <!-- USER INFO - END -->
    <ul class='wraplist'>

      <li class='menusection'>Main</li>
      <li routerLink="/dashboard" routerLinkActive="open" >
        <a href="javascript:void(0)">
          <i class="fa fa-dashboard"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li routerLink="/members" routerLinkActive="open">
        <a href="javascript:void(0)">
          <i class="fa fa-user"></i>
          <span class="title">Users</span>
        </a>
      </li>
      <li routerLink="/permissions" routerLinkActive="open">
        <a href="javascript:void(0)">
          <i class="fa fa-cog"></i>
          <span class="title">Settings</span>
        </a>
      </li>

    </ul>

    <!-- <div class="menustats">
      <h5>Project Progress</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width: 50%;">
        </div>
      </div>
      <h5>Target Achieved</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-accent" role="progressbar" aria-valuenow="70" aria-valuemin="0"
          aria-valuemax="100" style="width: 70%;">
        </div>
      </div>
    </div> -->
  </div>
  <!-- MAIN MENU - END -->
</div>